 /* CSS styles */
  

 .bottom button {
    margin: 7px;
   
  }
/* style  box*/
  .box {
    margin: 5px;
    background-color: rgba(0, 255, 255, 0);
    height: 500px;
    width: 900px;
    border-radius: 80px;
    text-align: center;
    margin-left: 600px;
    margin-top: 300px;
  }
  /* style body */
  body {
          background-image: url("https://www.wallpapertip.com/wmimgs/71-713207_concert-wallpapers-party-wallpaper-hd.jpg");
          background-repeat: no-repeat;
          background-size: cover;
      }