/* style body */
body {
    background: url(https://1.bp.blogspot.com/-RP5m-XGk7aU/Xd-ailWVZnI/AAAAAAAAKgo/gC24DrIKNEY1DutP3bR7TqfcqNY-SCp4gCLcBGAsYHQ/w1200-h675-p-k-no-nu/youtube-home-page-c.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-origin: border-box;

}